.footer__container {
    width: 100%;
    display: grid;
    gap: 6rem;
    margin-top: 8rem;
}

@media screen and (max-width:1200px) {
    .footer__container {
        gap: 3.5rem;
        margin-top: 8rem;
    }
}

@media screen and (max-width:600px) {
    .footer__container {
        gap: 1rem;
        margin-top: 5rem;
    }
}