    input[type="text"],
    input[type="password"] {
        height: 25px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    input[type="submit"] {
        margin-top: 10px;
        cursor: pointer;
        font-size: 15px;
        background: #01d28e;
        border: 1px solid #01d28e;
        color: #fff;
        padding: 10px 20px;
    }
    
    input[type="submit"]:hover {
        background: #6cf0c2;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
    }
    
    .error {
        color: red;
        font-size: 12px;
    }
    
    .title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .input-container {
        display: flex;
        gap: 8px;
        margin: 10px;
    }
    
    .form h1 {
        color: var(--color-golden);
        text-align: center;
    }
    
    .form {
        display: grid;
        text-align: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-items: center;
    }
    
    .login__form {
        border: 1.5px solid var(--color-golden);
        padding: 2rem 3rem;
        display: grid;
    }
    
    @media screen and (max-width: 600px) {
        .login__form {
            padding: 1rem 0;
        }
    }