.footerOverlay {
    display: flex;
    justify-content: space-evenly;
}

.contact {
    text-align: center;
    display: grid;
    gap: 1rem;
    height: fit-content;
}

.contact h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address__head {
    display: grid;
    gap: 0.5rem;
    justify-items: center;
}

.social__network {
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.work__on {
    display: grid;
    gap: 2rem;
    height: fit-content;
    text-align: center;
}

.footerOverlay__container {
    display: grid;
    gap: 6rem;
}

.copyright {
    background: black;
    height: 4rem;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width:1200px) {
    .footerOverlay {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .address {
        gap: 4rem;
    }
}

@media screen and (max-width:600px) {
    .footerOverlay {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .copyright {
        height: 3rem;
    }
    .work__on {
        gap: 0.5rem;
    }
    .address__head {
        text-align: center;
    }
    .footerOverlay__container {
        gap: 2rem;
    }
}