.btn {
    color: white;
}

.btn:hover,
.btn:active {
    color: red;
}

.rotate {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.icons {
    font-size: 30px;
    color: orange;
}

.icon {
    font-size: 40px;
    color: orange;
}

.icon1 {
    font-size: 40px;
    color: orange;
}

.icon2 {
    font-size: 40px;
    color: red;
}

body {
    background-image: url('./assets/bg.png');
    color: white;
}

.button {
    padding: 0.5rem 0.6rem;
    background: var(--color-golden);
    width: fit-content;
}

.button:hover {
    background: var(--color-gray);
    transform: scale(1.02);
}

.button1 {
    padding: 0.5rem 0.6rem;
    background: var(--color-golden);
    width: fit-content;
    height: fit-content;
}

.button1:hover {
    background: var(--color-gray);
    transform: scale(1.02);
}

h3 {
    font-size: 35px;
    color: red;
    font-family: var(--font-base);
}

.text-light {
    color: var(--color-golden);
    font-family: var(--font-base);
}

.text-name {
    color: var(--color-golden);
    font-family: var(--font-name);
}

h1 {
    font-size: 50px;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width :1024px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width :600px) {
    h1 {
        font-size: 30px;
    }
    .button {
        padding: 0.5rem;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 30px;
    }
    .icon {
        font-size: 25px;
    }
    .icon1 {
        font-size: 30px;
    }
    .icon2 {
        font-size: 30px;
    }
    .button1 {
        padding: 0.2rem 0.2rem;
    }
}